<h3>Facilities</h3>
<hr>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#facilityModal">Add Facility</button>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Zip</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let facility of facilities | async ">
            <td>{{facility.id}}</td>
            <td>{{facility.name}}</td>
            <td>{{facility.address}}</td>
            <td>{{facility.city}}</td>
            <td>{{facility.state}}</td>
            <td>{{facility.country}}</td>
            <td>{{facility.zip}}</td>
        </tr>
    </tbody>
</table>


<!-- The Modal -->
<div class="modal fade" id="facilityModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form (ngSubmit)="onSubmit()">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">Add Facility</h3>
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row  mb-2">
                    <div class="col-lg-2">Name</div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="Enter name" [(ngModel)]="facility.name" name="name" id="facName" />
                    </div>
                    <div class="col-lg-2">Phone</div>
                    <div class="col-lg-4">
                        <input type="number" class="form-control" placeholder="Enter phone" [(ngModel)]="facility.phone" name="phone" id="facPhoneNo" />
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-2">Address</div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="address" [(ngModel)]="facility.address" name="address" id="facAddress" />
                    </div>
                    <div class="col-lg-2">Zip</div>
                    <div class="col-lg-4">
                        <input type="number" class="form-control" placeholder="Zip code" [(ngModel)]="facility.zip" name="zip" id="facZip" />
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-2">City</div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control input-sm" placeholder="city" [(ngModel)]="facility.city" name="city" id="facCity" />
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-2">State</div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control input-sm" placeholder="state" [(ngModel)]="facility.state" name="state" id="facState" />
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-2">Country</div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control input-sm" placeholder="country" [(ngModel)]="facility.country" name="country" id="facCountry" />
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-2">Website</div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control input-sm" placeholder="website" [(ngModel)]="facility.website" name="website" id="facWebsite" />
                    </div>
                    <div class="col-lg-2">Email</div>
                    <div class="col-lg-4">
                        <input type="email" class="form-control" placeholder="email" [(ngModel)]="facility.email" name="email" id="facEmail" />
                    </div>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                * Required
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
        </div>
    </div>
</div>