<h3>User / Groups</h3>
<hr>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userModal">Add User</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Phone</th>
            <th>Facility</th>
            <th>Speciality</th>
            <th>Role</th>
            <th>Licence No</th>
        </tr>
    </thead>
        <tr *ngFor="let user of users | async">
            <td>{{user.username}</td>
            <td>{{user.phone}</td>
            <td>{{user.facility}</td>
            <td>{{user.speciality}</td>
            <td>{{user.role}</td>
            <td>{{user.licenceNo}</td>
        </tr>
    <tbody>
    </tbody>
</table>

<!-- The Modal -->
<div class="modal fade" id="userModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">Add User</h3>
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row  mb-2">
                    <div class="col-lg-2">Username</div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control input-sm" placeholder="username" id="username" />
                    </div>
                    <div class="col-lg-2">Phone</div>
                    <div class="col-lg-4">
                        <input type="number" class="form-control" placeholder="phone" id="phoneNo" />
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-2">Facility</div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control input-sm" placeholder="facility" id="facility" />
                    </div>
                    <div class="col-lg-2">Speciality</div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control input-sm" placeholder="speciality" id="speciality" />
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-2">Licence No</div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control input-sm" placeholder="license" id="licence" />
                    </div>
                    <div class="col-lg-2">Role</div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control input-sm" placeholder="role" id="role" />
                    </div>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                * Required
                <button type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
        </div>
    </div>
</div>