<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <full-calendar #calendarMonthComponent [options]="calendarOptionsMonth"></full-calendar>
        </div>
        <div class="col-lg-6">
            <full-calendar #calendarDayComponent [options]="calendarOptionsDay"></full-calendar>
        </div>
    </div>
     <!-- The Modal -->
  <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">User Details:</h4>
          <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
         <p>User Id : {{desc}}</p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
        </div>
        
      </div>
    </div>
  </div>
</div>